html,
body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}


/* HEADER */

.header-container{
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  
}

.separator-header{
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  padding: auto 0;
}

.separator-header h4{
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator-header h4 img{
  margin-right: 8px;
  width: 21px;
}

/* INPUT CONFIG */

.table-content{
  width: 100%;
  height: 100%;
}

.icon-td{
  width: 40px;
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
}

.search-logo{
  margin-top: 8px;
  width: 20px;
  height: 20px;
  fill: gray;
}

.itens-flex{
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

.input-box{
  margin: auto;
  margin-top: 20px;
  height: 42px;

  border: 1px solid none;
  border-radius: 5px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 5px 0.5px hsl(0, 0%, 90%);


  /*background-color: hsl(0, 0%, 100%;*/
}

.wrapper{
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.list-box{
  width: 85%;
}

.dropdown{
  width: 175px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid none;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 5px 0.5px hsl(0, 0%, 90%);
}

.wrapper .list-box .dropdown .drop-data{
  cursor: pointer;
}

.dropdown .default-option{
  padding: 10px 15px;
  font-size: 14px;

}

.wrapper .list-box .dropdown ul{
  display: none;
  position: absolute;
  background: white;
  width: 135px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid none;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 5px 0.5px hsl(0, 0%, 90%);
  }

  .wrapper .list-box .dropdown ul.active{
    display: block;
  }

.wrapper .list-box .dropdown ul li{
  padding-bottom: 8px;
  user-select: none;
  cursor: pointer;
}

.wrapper .list-box .dropdown ul li:last-child{
  padding-bottom: 0px;

}



.drop-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop-data img{
  padding: 10px 15px;
  
}

.arrow-image{
  width: 20px;
}

.input-country{
  font-size: 18px;

  border: none;
  height: 80%;
  width: 100%;
}

.input-country:focus{
  outline: none;
}



/* CARD COUNTRY */

.card-model{
  width: 85%;
  margin: 50px auto auto auto;

  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap:wrap;


}


.cards-container{
  width: 200px;
  height: auto;
  

  display: flex;
  justify-content: center;
 
  


 
}

.card-country{
  width: 280px;
  height: 380px;


  border-radius: 10px;
  margin-bottom: 50px;


  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 4px 0px;
  
}


.card-country div img {
  width: 280px;
  border-radius: 10px 10px 0 0;
}


.country-info{
  margin-left: 25px;
}

.country-info p{
  font-weight: 700;
  margin: 5px 0 0 0;
}

.country-info p span{
  font-weight: 400;
}



@media (min-width:750px){
  .card-model{

    display: flex;
    justify-content:end;
    flex-wrap:wrap;

  }
}

@media (min-width:650px){

  .card-country{

    margin-right: 25px;
  }
  
}

@media (min-width:700px){

  .input-box{
    width: 592px;
    margin: 0;
  }

}

@media (min-width:1000px){

  .input-box{
    width: 592px;
  }

  .itens-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .list-box{
    width: 100%;
  }

  .wrapper{
    margin-top: 0;
  }

  .card-model{
    margin-top: 70px;
  }
}