<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap" rel="stylesheet">


  <title>Document</title>
</head>
<header class="header-container">
  <div class="separator-header">
    <h3>Where in the world</h3>
    <img src="" alt="">
    <h4><img src="../../public/images/moon.svg" alt=""></i>Dark Mode</h4>
  </div>
</header>

<body>
  <div class="button-container">
    <button class="back-button"><img src="../../public/images/left-arrow.png" alt="back arrow">Back</button>
  </div>
  <div class="country-container">
    <div class="container-image-country">
      <img src="" alt="country-img" class="first-country-flag">
    </div>
    <div class="country-data-container">
      <div class="container-data">
        <h3 class="mainCountryName">Brazil</h3>
        <div class="container-data-elements">
          <div>
            <p>Native name: <span class="native-name-text"></span></p>
            <p>Population: <span class="population-text"></span></p>
            <p>Region: <span class="region-text"></span></p>
            <p>Sub region: <span class="sub-region-text"></span></p>
            <p>Capital: <span class="capital-text"></span></p>
          </div>
          <div>
            <p>Top level domains: <span class="top-level-domain-text"></span></p>
            <p>Currencies: <span class="currencies-text"></span></p>
            <p>Languages: <span class="language-text"></span></p>
          </div>
        </div>
        <div class="border-countries-container">
          <p>Border Countries: </p>
        </div>
      </div>
    </div>
  </div>



  <h3></h3>


  </td>
  </tr>


</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="index.js"></script>

</html>