<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
  <title>Document</title>
</head>
<header class="header-container">
  <div class="separator-header">
    <h3>Where in the world</h3>
    <img src="" alt="">
    <h4><img src="../../public/images/moon.svg" alt=""></i>Dark Mode</h4>
  </div>
</header>

<body>

  <button>Back</button>
  <tr>
    <td>
      <img src="../../public/images/brasil.jpg" alt="">
    </td>
    <td>
  <tr>
    <td>
      <p>Native name: <span></span></p>
      <p>Population<span></span></p>
      <p>Region<span></span></p>
      <p>Sub region<span></span></p>
      <p>Capital<span></span></p>
    </td>
    <td>
      <p>Top level domains<span></span></p>
      <p>Currencies<span></span></p>
      <p>Languages<span></span></p>
    </td>
  </tr>
  <p>Border Countries: </p>
  <h3></h3>


  </td>
  </tr>


</body>

</html>