html,
body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito", sans-serif;
}

/* HEADER */

.header-container{
  width: 100%;
  display: flex;

  background-color: hsl(0, 0%, 100%);
}

.image-search-container{ 
  width: 20%;
}

.imput-box{
  width: 80%;
  height: 30px;

  border: 1px solid none;
  border-radius: 3px;
  background: gray;

  display: flex;

  /*background-color: hsl(0, 0%, 100%;*/
}

.input-country{
}



/* CARD COUNTRY */
.cards-container{
  display: flex;
  justify-content: center;
  width: 200px;
}

.card-country{
  background-color: hsl(0, 0%, 100%);
  width: 280px;
  height: 400px;
}